{% extends 'home.html' %}
{% load static %}

{% block title %}Comment edit delete{% endblock %}

{% block logged_in_content %}

    <h2>Comment edit delete</h2>

    {{ comment.user.username }} on {{ comment.timestamp }}<br>



        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
            <button type="submit" name="edit">Edit</button>
            <button type="submit" name="delete">Delete</button>
        </form>



        <p>Dein alter Text: {{ comment.text }}</p>
        <p>Deine alte Bewertung: {{ comment.sterne }} Sterne</p>


{% endblock %}