{% extends 'home.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail_style.css' %}">
{% endblock %}

{% block header %}
    {% include 'header-cart.html' %}
{% endblock %}

{% block title %}Produkt detail{% endblock %}

{% block content %}
    <div class="container">
        <h2>Produkt detail</h2>

    <table>
        <tr>
            <td><b>Name:</b></td>
            <td>{{ current_produkt.name }}<br></td>
        </tr>
        <tr>
            <td><b>Beschreibung:</b></td>
            <td>{{ current_produkt.beschreibung }}<br></td>
        </tr>
        <tr>
            <td><b>Produktbild:</b></td>
            <td>
            {% if produkt_bild %}
                <img src="{{ produkt_bild.url }}" alt=" Bild von {{ current_produkt.name }}">
            {% else %}
                <p>Kein Bild verfügbar</p>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td><b>Produkt Typ:</b></td>
            <td>{{ current_produkt.produkt_typ }}<br></td>
        </tr>
        <tr>
            <td><b>Preis:</b></td>
            <td>{{ current_produkt.preis }}<b>€</b><br></td>
        </tr>
        <tr>
            <td><b>Created by:</b></td>
            <td>{{ current_produkt.user }}<br></td>
        </tr>
        <tr>
            <td><b>Produkt PDF:</b></td>
            <td>
                {% if current_produkt.produkt_pdf %}
                    <a href="{{ current_produkt.produkt_pdf.url }}" >Download PDF</a>
                {% else %}
                    Zu dem ausgewählten Produkt ist keine Produkt PDF verfügbar
                {% endif %}
            </td>
        </tr>
    </table>


    {% if user.is_authenticated %}

        <form method="POST">
            {% csrf_token %}
            <a href="#" onclick="this.closest('form').submit(); return false;">Zum Einkaufswagen hinzufügen</a>
        </form>

    {% else %}

        <br><br>
        <a href="{% url 'login' %}?next={{ request.path }}">Einloggen, um in den Warenkorb hinzuzufügen</a>

    {%  endif %}

    <a href="{% url 'produkt-list' %}">Zurück zu der Produkübersicht</a>
    <br>
    <a href="{% url 'produkt-delete' current_produkt.pk %}">Produkt löschen</a>
    </div>
{% endblock %}
